<section class="hero is-success is-medium">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <%= image_tag "logo.png" %>
            <!--<img src="https://bulma.io/images/bulma-type-white.png" alt="Logo">-->
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-end">
              <a href="/" class="navbar-item is-active">Home</a>
              <a class="navbar-item">로그인</a>
              <a class="navbar-item">로그아웃</a>
              <a class="navbar-item">회원가입</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="form-warpper">
          <div class="column is-half left">
            <div>
              <p class="has-text-centered main-title-board"><span class="uptext-city">C&nbsp;I&nbsp;T&nbsp;Y</span></br><span class="downtext-city">JOB 
              </span></p>
          </div>
        </div>
      </div>
      <div class="form-warpper">
        <div class="column is-half right">
          <div class="main-right-guide-board before-review">
            <h1 class="con has-text-warning tip"><i class="fa fa-warning">리뷰를 보기전에...</i></h1>
          </br>
          <ul class="title is-5 board-left-text">
            <li><span class="jobsory">JOB소리</span>내의 이용자가 등록하는 리뷰들은 개인의 경험을 바탕으로한 주관적인 의견 및 감상이며, 장소(Work Place)의 가치를 객관적으로 평가한 것이 아닙니다. 때문에 보는 사람에따라 차이가 있을 수 있습니다. 어디까지나 하나의 참고로써 활용해 주세요.</li>
          </br>
        </li>
        또한, 이 리뷰들은 작성자분들이 현재 경험중에 작성된 것일 수도 있으며 이미 경험한 내용을 작성한 것일 수도 있기에 내용 및 시급 등이 현재와 상이할 경우가 있으므로, 읽어보실 때는 반드시 이점을 유의해 주시기 바랍니다.</ul>
    </ul>
  </div>
</div>
</div>
</div>
</div>
<!-- Hero footer: will stick at the bottom -->
<div class="hero-foot">
  <nav class="tabs is-boxed is-fullwidth">
    <div class="container">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/home/form">글쓰기</a></li>
        <li  class="is-active"><a href="/home/cityjob">City Jobs</a></li>
        <li><a href="/home/factory">Factory</a></li>
        <li><a href="/home/farm">Farm</a></li>
        <li><a href="/home/etc">기타</a></li>
      </ul>
    </div>
  </nav>
</div>
</section>
<!-- End Section Part -->
<div class="container"></br></br>
<form id="product-search" action="" method="get">
  <div class="search-element">
    <label class="search-label">What are you looking for?</label>
    <input class="search-input" type="text" autocomplete="on" placeholder="상호명/직종" name="query">
  </div>
  <div class="search-element">
    <label class="search-label">Where are you looking?(자동 완성기능 추가??)</label>
    <input class="search-input" type="text" placeholder="City, State" class="" autocomplete="on" name="location">
  </div>
  <a type="submit" class="search-button">Search</a>
</form>
</br>
<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title"><a href="/home/postinpost">장소(Work Place)(state/city)</a></p>
      <p class="subtitle_01">세부직종</p>
      <p class="subtitle_01">급여방식/급여</p>
      <p class="subtitle_02">장단점 (Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima dolorum iste dolores, sapiente hic possimus ratione quibusdam illo quae ullam.  Minima dolorum iste dolores, sapiente hic possimus ratione quibusdam illo quae ullam.)</p>
      <i class="fa fa-heart" aria-hidden="true">(56)</i>&nbsp;&nbsp;
      <i class="fa fa-commenting-o" aria-hidden="true">(109)</i>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Foo</p>
      <p class="subtitle">Bar</p>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Third column</p>
      <p class="subtitle">With some content</p>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
      </div>
    </article>
  </div>
</div>
<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Hello World</p>
      <p class="subtitle">What is up?</p>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Foo</p>
      <p class="subtitle">Bar</p>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Third column</p>
      <p class="subtitle">With some content</p>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
      </div>
    </article>
  </div>
</div>
<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Hello World</p>
      <p class="subtitle">What is up?</p>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Foo</p>
      <p class="subtitle">Bar</p>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Third column</p>
      <p class="subtitle">With some content</p>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
      </div>
    </article>
  </div>
</div>
<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Hello World</p>
      <p class="subtitle">What is up?</p>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Foo</p>
      <p class="subtitle">Bar</p>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Third column</p>
      <p class="subtitle">With some content</p>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
      </div>
    </article>
  </div>
</div>
<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Hello World</p>
      <p class="subtitle">What is up?</p>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Foo</p>
      <p class="subtitle">Bar</p>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Third column</p>
      <p class="subtitle">With some content</p>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
      </div>
    </article>
  </div>
</div>
<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Hello World</p>
      <p class="subtitle">What is up?</p>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Foo</p>
      <p class="subtitle">Bar</p>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Third column</p>
      <p class="subtitle">With some content</p>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
      </div>
    </article>
  </div>
</div>
<nav class="pagination" role="navigation" aria-label="pagination">
  <a class="pagination-previous">Previous</a>
  <a class="pagination-next">Next page</a>
  <ul class="pagination-list">
    <li>
      <a class="pagination-link" aria-label="Goto page 1">1</a>
    </li>
    <li>
      <span class="pagination-ellipsis">&hellip;</span>
    </li>
    <li>
      <a class="pagination-link" aria-label="Goto page 45">45</a>
    </li>
    <li>
      <a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a>
    </li>
    <li>
      <a class="pagination-link" aria-label="Goto page 47">47</a>
    </li>
    <li>
      <span class="pagination-ellipsis">&hellip;</span>
    </li>
    <li>
      <a class="pagination-link" aria-label="Goto page 86">86</a>
    </li>
  </ul>
</nav>
</div>