<section class="hero is-success is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <%= image_tag "logo.png" %>
            <!--<img src="https://bulma.io/images/bulma-type-white.png" alt="Logo">-->
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
            <a href="/" class="navbar-item is-active">Home</a>
            <a class="navbar-item">로그인</a>
            <a class="navbar-item">로그아웃</a>
            <a class="navbar-item">회원가입</a>
            <!-- <span class="navbar-item">
              <a class="button is-success is-inverted">
                <span class="icon">
                  <i class="fa fa-github"></i>
                </span>
                <span>Download</span>
              </a>
            </span> -->
          </div>
        </div>
      </div>
    </header>
  </div>
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-left">
      <div class="form-warpper">
        <div class="column is-half left">
          <div>
            <p class="title is-4">1.리뷰를 작성하실 때는, <a href="#" class="signin"><span class="signin-text">로그인</span></a>이 필요합니다.</p>
            <p class="title is-4">2.리뷰를 작성하실 때는, "JOB소리"에서 별도로 정한</br><span class="span-guideline">가이드라인</span>을 준수하셔야 합니다. 반드시 리뷰 작성 전에 읽어보세요.</p>
          <p class="title is-4">3.한번 작성한 리뷰는 수정 및 삭제가 불가능 합니다. 리뷰를 수정하거나 삭제를 원하시면 "JOB소리"에 문의 해주세요.</p>
          <p class="title is-4">4."JOB소리"에 작성된 리뷰를 무단전재•무단이용하는 것은 금지합니다. 단 해당 리뷰를 작성한 본인은 제외합니다.</p>
          <p class="title is-4">5.리뷰를 작성하신 후에, 확인란에 표시하여 리뷰가 실제 경험에 관한 내용임을 확인하고 리뷰 전송 버튼을 누르세요!</p>
        </div>
      </div>
    </div>
    <div class="form-warpper">
      <div class="column is-half right">
        <div class="icon-tip">
          <h1 class="icon has-text-warning"><i class="fa fa-warning">Tip</i></h1>
        </div>
        <div class="right-guide">
          <h3 class="title is-4">1.리뷰에 포함 가능한 내용</h3>
          <div class="right-guide-1">
            <p>-직접 경험을 토대로한 진실된 내용</p>
            <p>-경험자로써의 노하우 및 주의점</p>
          </div>
          <h3 class="title is-4">2.리뷰에 포함 불 가능한 내용</h3>
          <div class="right-guide-1">
            <p>-욕설 및 비속어</p>
            <p>-타인을 비하하는 내용</p>
            <p>-본인이 직접 경험하지 않은 내용</p>
          </div>
          <h3>*리뷰의 내용에 관한 상세 정보는 리뷰 <span class="span-guideline">가이드라인</span>을 참고하세요.</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hero footer: will stick at the bottom -->
<div class="hero-foot">
  <nav class="tabs is-boxed is-fullwidth">
    <div class="container">
      <ul>
        <li><a href="/">Home</a></li>
        <li class="is-active"><a href="/home/form">글쓰기</a></li>
        <li><a href="/home/cityjob">City Jobs</a></li>
        <li><a href="/home/factory">Factory</a></li>
        <li><a href="/home/farm">Farm</a></li>
        <li><a href="/home/etc">기타</a></li>
      </ul>
    </div>
  </nav>
</div>
</section>
</br></br></b>
<div class="container">
  <div class="form-warpper">
    <div class="column is-half left">
      <div class="field">
        <label class="label"><span class="important">*</span>Work Place
          <div class="icon has-text-info review-tip-icon"><i class="fa fa-info-circle"></i>
            <span class="review-tip-text">일 했던 곳의 장소을 입력해 주세요.</br>(청소의 경우 청소한 곳 또는 청소업체 이름)</span>
        </div>
      </label>
      <div class="control">
        <input class="input" type="text" placeholder="ex.식당이름,농장이름,공장이름">
      </div>
    </div>
    <label class="label"><span class="important">*</span>State</label>
    <div class="field has-addons">
      <div class="control is-expanded">
        <div class="select is-fullwidth">
          <select name="country">
            <option value="QLD">QLD</option>
            <option value="NSW">NSW</option>
            <option value="NT">NT</option>
            <option value="SA">SA</option>
            <option value="WA">WA</option>
            <option value="VIC">VIC</option>
            <option value="TSA">TSA</option>
          </select>
        </div>
      </div>
      <div class="control">
        <button type="submit" class="button is-success">Choose</button>
      </div>
    </div>
    <div class="field">
      <label class="label"><span class="important">*</span>City ( 자동 완성기능, gem 있음)</label>
      <div class="control">
        <input class="input" type="text" placeholder="일했던 도시">
      </div>
    </div>
    <label class="label"><span class="important">*</span>Job Type</label>
    <div class="field has-addons">
      <div class="control is-expanded">
        <div class="select is-fullwidth">
          <select name="country">
            <option value="City Job">City Job</option>
            <option value="Farm">Farm</option>
            <option value="Factory">Factory</option>
            <option value="기타">기타</option>
          </select>
        </div>
      </div>
      <div class="control">
        <button type="submit" class="button is-success">Choose</button>
      </div>
    </div>
    <div class="field">
      <label class="label"><span class="important">*</span>세부직종
        <div class="icon has-text-info review-tip-icon"><i class="fa fa-info-circle"></i>
          <span class="review-tip-text">식당의 경우 :한식,일식,중식,등을 입력
          </br>상점,호텔,청소,세차,배달,massage 등을 입력  
        </br>공장의 경유: 고기,사료,샐러드 등을 입력
      </br>농장의 경우 :딸기, 토마토, 라즈베리 등을 입력
    </span>
  </div>
</label>
<div class="control">
  <input class="input" type="text" placeholder="Text input">
</div>
</div>
<div class="field">
  <label class="label"><span class="important">*</span>Work Type</label>
  <div class="select">
    <select>
      <option>Full Time</option>
      <option>Part Time</option>
      <option>Casual</option>
    </select>
  </div>
</div>
<div class="field">
  <label class="label"><span class="important">*</span>Position</label>
  <div class="control">
    <input class="input" type="text" placeholder="포지션">
  </div>
</div>
<div class="field">
  <label class="label">근무기간</label>
  <div class="select">
    <select>
      <option>1 month</option>
      <option>2 month</option>
      <option>3 month</option>
      <option>4 month</option>
      <option>5 month</option>
      <option>6 month</option>
      <option>7 month</option>
      <option>8 month</option>
      <option>9 month</option>
      <option>10 month</option>
      <option>11 month</option>
      <option>12 month</option>
      <option>Over 1 Year</option>
    </select>
  </div>
</div>
<div class="field">
  <label class="label"><span class="important">*</span>급여방식</label>
  <div class="select">
    <select>
      <option>TAX</option>
      <option>CASH</option>
      <option>ABN</option>
    </select>
  </div>
</div>
<div class="field">
  <label class="label"><span class="important">*</span>Pay
    <div class="icon has-text-info review-tip-icon"><i class="fa fa-info-circle"></i>
      <span class="review-tip-text">농장의 경우 능력제면 평균 주(week)급</span>
    </div>
  </label>
  <div class="control">
    <input class="input" type="text" placeholder="Text input">
  </div>
</div>
<div class="field">
  <label class="label">평균 근무시간(Hour/week)</label>
  <div class="select">
    <select>
      <option>0-5</option>
      <option>5-10</option>
      <option>10-20</option>
      <option>20-30</option>
      <option>30-40</option>
      <option>40-50</option>
      <option>Over 50</option>
    </select>
  </div>
</div>
<div class="field">
  <label class="label">영어사용빈도</label>
  <div class="select">
    <select>
      <option>상</option>
      <option>중</option>
      <option>하</option>
    </select>
  </div>
</div>
<div class="field">
  <label class="label">근무난이도</label>
  <div class="select">
    <select>
      <option>상</option>
      <option>중</option>
      <option>하</option>
    </select>
  </div>
</div>
<div class="field">
  <label class="label"><span class="important">*</span>주로 했던일 & 노하우</label>
  <div class="control">
    <textarea class="textarea" placeholder="50자 이상 작성해주세요 :P"></textarea>
  </div>
</div>
<div class="field">
  <label class="label"><span class="important">*</span>근무 분위기 & 근무 환경</label>
  <div class="control">
    <textarea class="textarea" placeholder="50자 이상 작성해주세요 :P"></textarea>
  </div>
</div>
<div class="field">
  <label class="label"><span class="important">*</span>장 & 단점</label>
  <div class="control">
    <textarea class="textarea" placeholder="50자 이상 작성해주세요 :P"></textarea>
  </div>
</div>
<div class="field">
  <label class="label"><span class="important">*</span>부당한 경험
    <div class="icon has-text-info review-tip-icon"><i class="fa fa-info-circle"></i>
      <span class="review-tip-text">부당한 경험(호주 근로법에 위반되는 경우 또는 그외 부당하다고 생각되는 경험)이있을 경우에만 입력해주세요.</span>
    </div>
  </label>
  <div class="control">
    <textarea class="textarea" placeholder="50자 이상 작성해주세요 :P"></textarea>
  </div>
</div>
<div class="field">
  <label class="label">하고 싶은말</label>
  <div class="control">
    <textarea class="textarea" placeholder="하고 싶은말"></textarea>
  </div>
</div>
<label class="label">추천 & 비추천</label></label>
<div class="control">
  <div class="select">
    <select>
      <option>추천</option>
      <option>비추천</option>
    </select>
  </div>
</div>
</br>
<label class="checkbox">
  <input type="checkbox">
  이 리뷰는 저의 경험을 바탕으로 작성한 이 근무지에 대한 진실된 의견입니다. 저는 이 시설과 개인적 혹은 업무적으로 관련이 없으며, 이 리뷰를 작성하는 조건으로 해당 시설 또는 제3자로부터 어떠한 금전적 또는 물질적인 대가를 제공받지 않았습니다. 저는 LikeHogu가 조작된 리뷰에 대하여 단호하게 대처하는 방침을 견지하고 있음을 알고 있습니다.
  <h4 class="h4-checkbox">LikeHogu는 리뷰 작성자가 리뷰의 대상 업체와 관련이 없다는 사실을 명확히 하고자 합니다. 이 박스를 체크하여, 해당 업체 또는 경쟁업체의 관계자가 아니며 해당 업체와 개인적/사업적으로 관련이 없음을 확인해 주시기 바랍니다. 본 이용 약관의 위반과 비윤리적 관행 이외에 리뷰에 대한 부정행위를 저지르는 것은 대부분의 관할 지역에서 법률 및 규정으로 금지됩니다.[[(UCP 2005/29/EC) 및 (FTC 16CFR Part 255) 참조]]. 자세한 내용은 컨텐츠 무결성 정책을 참조하십시오.
  </h4>
</label></br></br>
<div class="field is-grouped">
  <div class="control">
    <button class="button is-success">Submit</button>
  </div>
  <div class="control">
    <button class="button is-success">Cancel</button>
  </div>
  <div class="control">
    <button class="toggle-modal button is-success">미리보기</button>
  </div>
</div>
<!-- modal section -->
<div class="modal" id="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete toggle-modal"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <div class="card">
        <div class="card-content">
          <p class="title workplace">일했던 곳 이름</p>
        </div>
        <footer class="card-footer">
          <p class="card-footer-item">
            <span>State</span>
          </p>
          <p class="card-footer-item">
            <span>City</span>
          </p>
        </footer>
      </div>
      <article class="message">
        <div class="message-body">
          <ul>
            <li>직종(part/full/casual)</li>
            <li>세부직종</li>
            <li>근무형태</li>
            <li>포지션</li>
            <li>근무기간</li>
            <li>급여방식</li>
            <li>시급</li>
            <li>평균근무시간</li>
            <li>영어 사용빈도 (상/중/하)</li>
            <li>난이도 (상/중/하)</li>
          </ul>
        </div>
      </article>
      <article class="message">
        <div class="message-header">
          업무내용 & 노하우
        </div>
        <div class="message-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
        </div>
      </article>
      <article class="message is-link">
        <div class="message-header">
          근무 분위기 & 근무 환경
        </div>
        <div class="message-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
        </div>
      </article>
      <article class="message is-danger">
        <div class="message-header">
          부당한 경험
        </div>
        <div class="message-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
        </div>
      </article>
      <article class="message is-success">
        <div class="message-header">
          장점 & 단점 
        </div>
        <div class="message-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
        </div>
      </article>
      <article class="message is-warning">
        <div class="message-header">
          기타 하고싶은말
        </div>
        <div class="message-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
        </div>
      </article>
      <!-- Content ... -->
    </section>
    <footer class="modal-card-foot">
      <a class="button is-success toggle-modal">제출하기</a></a>
    <a class="button toggle-modal">수정하기</a>
  </footer>
</div>
</div>
<!--column is-half left-->
</div>
<!-- form-warpper -->
</div>
<!-- container -->
<!-- Right Review Guidelines -->
<div class="container">
  <div class="form-warpper">
    <div class="column is-half right">
      <div class="review-guidelines">
        <h1 class="con has-text-warning tip"><i class="fa fa-warning">리뷰 작성 가이드</i></h1>
      </br>
      <p>이곳은 여러분이 직접 경험해본 "경험의한 리뷰"를 작성하는 공간입니다.</p>
      <p>따라서 직접 경험하지 않은 거짓된 리뷰로 제3자를 비하 및 모함하는 글, 다른이의 글을 불법으로 퍼오는 무단복제, 홍보성 글, 음란성 게시물, 상대방에게 모욕감을 주는 글, 불법 게시물등 네티켓에 어긋나는 글은 패널티 부과 및 무통보 삭제되며 최대 강제탈퇴까지 될 수 있습니다. 이점 유의하시어 글을 작성해 주시기 바랍니다.</p>
    </br>
    <p>사실적인 정보여야 합니다. 자신의 경험을 바탕으로 장소(Work Place)에 대해 구체적으로 설명합니다. 최대한 정확하게 전달하기 위해 노력하고 장소(Work Place)에 대한 긍정적인 측면과 부정적인 측면을 모두 포함합니다. 이용자들이 해당 장소(Work Place)에 대한 경험을 간접적으로 이해하기 위해 여러분의 리뷰를 읽는다는 것을 잊지 마세요. 따라서 개인적으로 모욕감을 주는 언어, 인신 공격 또는 정치, 윤리, 종교, 인종차별 또는 광범위한 사회적 문제에 관한 개인적 의견을 포함하지 마세요!.</p>
  </br>
  <p>부당한 경험(호주 근로기준법에 위반되는 일)에 대한 리뷰를 작성할 시에는 거짓된 정보를 제공하지 않습니다. 최대한 사실적인 정보이며 구체적으로 작성해 주세요.  작성자의 자가책임에 의거 거짓된 리뷰로인해 JOB소리 및 제3자에게 발생한 피해에 대해서는 전적으로 작성자의 책임이며 JOB소리는 어떠한 책임을 지지 않습니다.</p>
</br>
<p>광고: 다른 웹사이트나 전화번호 링크를 추가하는 등 광고 목적으로 리뷰를 작성해서는 안 됩니다. 리뷰는 장소(Work Place)에 대한 자신의 경험을 바탕으로 해야 하므로 장소(Work Place)의 리뷰을 조작하려는 의도로 리뷰를 게시해서는 안 됩니다.</p>
</br>
<p>스팸: 스팸을 보내서는 안 됩니다. 장소(Work Place)에 대한 내 경험만 작성해야 합니다. 홍보성/상업성 콘텐츠를 포함해서는 안 되고, 동일한 콘텐츠를 여러 번 게시해서는 안 되며, 여러 계정에서 같은 장소에 대한 리뷰를 작성해서는 안 됩니다.</p>
</br>
<p>관계없는 리뷰: 다른 사람의 경험을 바탕으로 한 리뷰나 현재 리뷰 중인 장소(Work Place)와 관계없는 리뷰를 게시해서는 안 됩니다. 리뷰는 정치나 사회 비판 또는 사적인 불평을 표현하기 위한 포럼이 아닙니다. 부적절한 리뷰에 대해서는  '부적절한 리뷰 신고' 링크를 사용하여 신고하면 됩니다.
</p>
</br>
<p>예의를 지킬 것: 어떤 장소에 대한 경험이 항상 마음에 들 수는 없습니다. 때때로 부정적인 의견을 공유하려는 경우도 있습니다. 실망했다 하더라도 건설적인 비판을 해야 합니다.</p>
</br>
<p>일반적인 논평이 아닌 리뷰가 되도록 할 것: 때로는 어떤 장소가 최신 뉴스나 이벤트에서 다뤄지면서 대규모 공개 논쟁이나 화제의 대상이 되는 경우도 있습니다. "JOB소리"는 리뷰어의 의견을 존중하고 소중하게 받아들이지만 로컬 리뷰는 사회적이거나 정치적인 논평을 위한 것이 아닙니다. 블로그나 소셜 네트워크처럼 이러한 종류의 대화에 적합한 다른 공간이 있을 것입니다. 최근 뉴스와 관련하여 장소에 대한 일반적인 논평을 작성하기보다 리뷰어의 직접적인 경험을 작성해 주시기 바랍니다.</p>
</br>
<p>세련되게 쓸 것: 사람들은 신중하게 작성한 리뷰를 더 많이 읽습니다. 쉽게 읽을 수 있는 글을 씁니다. 올바른 문법을 사용하고, 맞춤법을 검사하고, 욕설을 사용하지 않습니다. 적절한 길이를 선택합니다(한 단락이 바람직함). 독창성을 발휘하고 작성 과정을 즐기세요.</p>
</br>
<p>내용의 건전성: 음란하거나 모욕적이거나 불쾌감을 주는 언어를 사용해서는 안 됩니다. 다른 사람에 대해 인신공격을 하는 리뷰도 삭제됩니다.</p>
</br>
<p>이해관계의 충돌: 리뷰는 정직하고 공정한 경우에 가장 가치가 있습니다. 장소의 소유자나 직원이 본인의 업체나 고용주에 대해 리뷰를 작성해서는 안 됩니다. 특정 업체의 리뷰 작성 및 특정 경쟁업체를 상대로 한 부정적 리뷰 작성을 조건으로 하여 현금, 상품, 서비스 제공을 제안하거나 수락해서는 안 됩니다. 비즈니스 소유자가 리뷰를 요청하기 위한 목적만으로 사업장에 리뷰 장소나 키오스크를 개설해서는 안 됩니다.</p>
</br>
<p>불법 콘텐츠: 불법 콘텐츠나 불법 콘텐츠 링크(예: 처방전이 필요한 약을 처방전 없이 구매하는 행위를 조장하는 링크)가 포함된 리뷰를 게시해서는 안 됩니다.</p>
</br>
<p>성적인 자료: 성적인 자료를 포함하는 리뷰를 허용하지 않습니다. 또한 아동을 성적으로 이용하거나 묘사하는 리뷰는 절대 허용하지 않습니다. Google은 이러한 내용이 담긴 리뷰를 삭제하고 계정을 폐쇄하며 미국 국립실종학대아동센터(National Center for Missing and Exploited Children: NCMEC) 및 사법당국에 신고합니다.
</p>
</br>
<p>명의 도용: 다른 사람을 대신해서 리뷰를 게시하거나 신원을 위장하거나 리뷰 중인 장소와의 관계를 허위 진술해서는 안 됩니다.</p>
</br>
<p>개인 및 기밀 정보: 신용카드 정보, 주민등록번호, 운전면허증 정보 등 다른 사람의 개인 및 기밀 정보가 포함된 리뷰를 게시해서는 안 됩니다.</p>
</br>
<p>증오심 표현: Google은 인종 또는 민족, 종교, 장애, 성별, 연령, 군필 여부, 성적 취향 또는 성적 정체성을 근거로 특정 집단에 대한 증오심을 조장하는 리뷰를 허용하지 않습니다.</p>
</br>
<p>"JOB소리"는 게재된 리뷰의 내용에 관하여 어떠한 보증도 하지 않습니다. 이용자의 판단하에 이용해 주십시오. 또한 게재된 리뷰에 의해 생긴 이용자의 손해(이용자가 작성한 각종 컨텐츠에 의한 컴퓨터 바이러스 감염피해 등도 포함합니다)나 이용자끼리의 트러블 등에 대하여 JOB소리는 일절 보상 및 관여를 하지 않습니다.</p>
</br>
<p>"JOB소리"는 본 사이트에 링크된 제3자가 운영하는 사이트에 관하여 어떠한 보증도 하지 않습니다. 이용자의 판단하에 이용해 주십시오. 또 링크처에서 생긴 손해나 이용자끼리의 트러블 등에 대하여 JOB소리는 일절 보상 및 관여를 하지 않습니다.</p>
</div>
</div>
<!--column is-half right-->
</div>
<!-- form-warpper -->
</div>
<!-- container -->
<!-- For 리뷰작성 미리보기 Modal -->
<script>
  var modal = document.getElementById('modal');
    var elements = document.getElementsByClassName('toggle-modal');
    for (var i = 0; i < elements.length; i++) {
      elements[i].addEventListener('click', toggleClass);
    }
  
    function toggleClass() {
      modal.classList.toggle('is-active');
    }
</script>