<section class="hero is-success is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <%= image_tag "logo.png" %>
            <!--<img src="https://bulma.io/images/bulma-type-white.png" alt="Logo">-->
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
            <a href="/" class="navbar-item is-active">
              Home
            </a>
            <a class="navbar-item">
              Examples
            </a>
            <a class="navbar-item">
              Documentation
            </a>
            <span class="navbar-item">
              <a class="button is-success is-inverted">
                <span class="icon">
                  <i class="fa fa-github"></i>
                </span>
                <span>Download</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        사이트 설명 & 사용법 & 만든 이유 등등 가이드 라인
      </h1>
      <h2 class="subtitle">
        Subtitle
      </h2>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li class="is-active"><a href="/">Home</a></li>
          <li><a href="/home/form">글쓰기</a></li>
          <li><a href="/home/cityjob">City Jobs</a></li>
          <li><a href="/home/factory">Factory</a></li>
          <li><a href="/home/farm">Farm</a></li>
          <li><a href="#">기타</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section></br></br></br>


<div class="container">
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title"><a href="/home/postinpost">Random Post_01</a></p>
        <p class="title"><a href="/home/postinpost">상호명(state/city)</a></p>
        <p class="subtitle_01">직업종류(full/part/casual)</p>
        <p class="subtitle_01">포지션</p>
        <p class="subtitle_02">장단점 (Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima dolorum iste dolores, sapiente hic possimus ratione quibusdam illo quae ullam.  Minima dolorum iste dolores, sapiente hic possimus ratione quibusdam illo quae ullam.)</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title"><a href="/home/postinpost">Random Post_02</a></p>
        <p class="title"><a href="/home/postinpost">상호명(state/city)</a></p>
        <p class="subtitle_01">직업종류(full/part/casual)</p>
        <p class="subtitle_01">포지션</p>
        <p class="subtitle_02">장단점 (Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima dolorum iste dolores, sapiente hic possimus ratione quibusdam illo quae ullam.  Minima dolorum iste dolores, sapiente hic possimus ratione quibusdam illo quae ullam.)</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title"><a href="/home/postinpost">Random Post_03</a></p>
        <p class="title"><a href="/home/postinpost">상호명(state/city)</a></p>
        <p class="subtitle_01">직업종류(full/part/casual)</p>
        <p class="subtitle_01">포지션</p>
        <p class="subtitle_02">장단점 (Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima dolorum iste dolores, sapiente hic possimus ratione quibusdam illo quae ullam.  Minima dolorum iste dolores, sapiente hic possimus ratione quibusdam illo quae ullam.)</p>
      </article>
    </div>
  </div>
  
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child box">
            <p class="title">Random Post_04</p>
            <p class="title"><a href="/home/postinpost">상호명(state/city)</a></p>
            <p class="subtitle_01">직업종류(full/part/casual)</p>
            <p class="subtitle_01">포지션</p>
            <p class="subtitle_02">장단점 (Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima dolorum iste dolores, sapiente hic possimus ratione quibusdam illo quae ullam.  Minima dolorum iste dolores, sapiente hic possimus ratione quibusdam illo quae ullam.)</p>
          </article>
          <article class="tile is-child box">
            <p class="title"Random Post_05</p>
            <p class="title"><a href="/home/postinpost">상호명(state/city)</a></p>
            <p class="subtitle_01">직업종류(full/part/casual)</p>
            <p class="subtitle_01">포지션</p>
            <p class="subtitle_02">장단점 (Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima dolorum iste dolores, sapiente hic possimus ratione quibusdam illo quae ullam.  Minima dolorum iste dolores, sapiente hic possimus ratione quibusdam illo quae ullam.)</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title"><a href="https://www.fairwork.gov.au/language-help/korean" target="_blank">Fair Work</a></p>
            <p class="subtitle">한국어.ver</p>
            <figure class="image is-4by3">
              <a href="https://www.fairwork.gov.au/language-help/korean" target="_blank"><%= image_tag "fairwork.png" %></a>
              <!--<img src="https://bulma.io/images/placeholders/640x480.png">-->
            </figure>
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Wide column</p>
          <p class="subtitle">Aligned with the right column</p>
          <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
          </div>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <div class="content">
          <p class="title">호주 노동법 관련</p>
          <p class="subtitle">With even more content</p>
          <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>
            <p>Suspendisse varius ligula in molestie lacinia. Maecenas varius eget ligula a sagittis. Pellentesque interdum, nisl nec interdum maximus, augue diam porttitor lorem, et sollicitudin felis neque sit amet erat. Maecenas imperdiet felis nisi, fringilla luctus felis hendrerit sit amet. Aenean vitae gravida diam, finibus dignissim turpis. Sed eget varius ligula, at volutpat tortor.</p>
            <p>Integer sollicitudin, tortor a mattis commodo, velit urna rhoncus erat, vitae congue lectus dolor consequat libero. Donec leo ligula, maximus et pellentesque sed, gravida a metus. Cras ullamcorper a nunc ac porta. Aliquam ut aliquet lacus, quis faucibus libero. Quisque non semper leo.</p>
          </div>
        </div>
      </article>
    </div>
  </div>
  
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Side column</p>
        <p class="subtitle">With some content</p>
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
        </div>
      </article>
    </div>
    <div class="tile is-parent is-8">
      <article class="tile is-child box">
        <p class="title">Main column</p>
        <p class="subtitle">With some content</p>
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
        </div>
      </article>
    </div>
  </div>
</div>






