<section class="hero is-primary">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <%= image_tag "logo.png" %>
            <!--<img src="https://bulma.io/images/bulma-type-white.png" alt="Logo">-->
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-end">
              <a href="/" class="navbar-item is-active">Home</a>
              <a class="navbar-item">로그인</a>
              <a class="navbar-item">로그아웃</a>
              <a class="navbar-item">회원가입</a>
              <!-- <span class="navbar-item">
              <a class="button is-success is-inverted">
                <span class="icon">
                  <i class="fa fa-github"></i>
                </span>
                <span>Download</span>
              </a>
            </span> -->
            </div>
          </div>
        </div>
      </nav>
    </div>
  </section>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th><abbr title="Position">Pos</abbr></th>
          <th>Title</th>
          <th>Content</th>
          <th><abbr title="Played">Witer</abbr></th>
          <th><abbr title="Won">Date</abbr></th>
          <th><abbr title="Drawn">Hit</abbr></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th><abbr title="Position">Pos</abbr></th>
          <th>Title</th>
          <th>Content</th>
          <th><abbr title="Played">Witer</abbr></th>
          <th><abbr title="Won">Date</abbr></th>
          <th><abbr title="Drawn">Hit</abbr></th>
        </tr>
      </tfoot>
      <tbody>
        <tr class="is-selected">
          <th>1</th>
          <td>Leicester City</td>
          <td>Qualification for the Champions League group stage</td>
          <td>운영자</td>
          <td>11.11.17</td>
          <td>100</td>
        </tr>
        <tr>
          <th>2</th>
          <td>Leicester City</td>
          <td>Qualification for the Champions League group stage</td>
          <td>운영자</td>
          <td>11.11.17</td>
          <td>100</td>
        </tr>
        <tr>
          <th>3</th>
          <td>Leicester City</td>
          <td>Qualification for the Champions League group stage</td>
          <td>운영자</td>
          <td>11.11.17</td>
          <td>100</td>
        </tr>
        <tr>
          <th>4</th>
          <td>Leicester City</td>
          <td>Qualification for the Champions League group stage</td>
          <td>운영자</td>
          <td>11.11.17</td>
          <td>100</td>
        </tr>
        <tr>
          <th>5</th>
          <td>Leicester City</td>
          <td>Qualification for the Champions League group stage</td>
          <td>운영자</td>
          <td>11.11.17</td>
          <td>100</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container">
    <nav class="pagination" role="navigation" aria-label="pagination">
      <a class="pagination-previous">Previous</a>
      <a class="pagination-next">Next page</a>
      <ul class="pagination-list">
        <li>
          <a class="pagination-link" aria-label="Goto page 1">1</a>
        </li>
        <li>
          <span class="pagination-ellipsis">&hellip;</span>
        </li>
        <li>
          <a class="pagination-link" aria-label="Goto page 45">45</a>
        </li>
        <li>
          <a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a>
        </li>
        <li>
          <a class="pagination-link" aria-label="Goto page 47">47</a>
        </li>
        <li>
          <span class="pagination-ellipsis">&hellip;</span>
        </li>
        <li>
          <a class="pagination-link" aria-label="Goto page 86">86</a>
        </li>
      </ul>
    </nav>
  </div>