<section class="hero is-success ">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        상호명
      </h1>
      <h2 class="subtitle">
        지역
      </h2>
    </div>
  </div>
  
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/home/form">글쓰기</a></li>
          <li class="is-active"><a href="/home/cityjob">City Jobs(글 더보기)</a></li>
          <li><a href="/home/factory">Factory</a></li>
          <li><a href="/home/farm">Farm</a></li>
          <li><a>Layout</a></li>
        </ul>
      </div>
    </nav>
  </div>
  
</section></br>

<div class="container">
  <div class="post-warpper">
    
    <div class="column is-half left">
     
      <div class="notification is-danger">
        <ul>
          <li>직종</li>
          <li>포지션</li>
          <li>일한 기간(얼마나 일했어?)</li>
          <li>시급</li>
          <li>영어 사용빈도 (상/중/하)</li>
          <li>난이도 (상/중/하)</li>
        </ul>
      </div>
      
      <article class="message is-info">
        <div class="message-header">
          업무내용
        </div>
        <div class="message-body">
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore repellendus rerum beatae, mollitia id voluptatum veniam dolore rem fugiat laudantium.
        </div>
        
        <div class="message-header">
          근무 분위기 및 근무 환경
        </div>
        <div class="message-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, repudiandae.
        </div>
        
        <div class="message-header">
          장/단점 
        </div>
        <div class="message-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo optio cumque totam debitis impedit rerum nobis vero enim magni ad ex ipsum doloremque animi eaque numquam dolorem doloribus ipsam perspiciatis blanditiis dolor dolore nesciunt, ducimus molestias maiores! Nobis, nam doloremque provident, modi reiciendis quia dolores odio ipsam alias quisquam eius?
        </div>
        
        <div class="message-header">
          기타 하고싶은말
        </div>
        <div class="message-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, alias, consectetur. Quasi obcaecati facere quo, fugiat magnam dignissimos esse voluptates sed voluptatum delectus aspernatur! Amet quos obcaecati in debitis delectus.
        </div>
      </article>
      
    </div><!--column is-half left-->
    
    <div class="column is-half right">
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png">
          </p>
        </figure>
        <div class="media-content">
          <div class="field">
            <p class="control">
              <textarea class="textarea" placeholder="Add a comment..."></textarea>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <button class="button">Post comment</button>
            </p>
          </div>
        </div>
      </article>
      
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Barbara Middleton</strong>
              <br>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
              <br>
              <small><a>Like</a> · <a>Reply</a> · 3 hrs</small>
            </p>
          </div>
      
          <article class="media">
            <figure class="media-left">
              <p class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Sean Brown</strong>
                  <br>
                  Donec sollicitudin urna eget eros malesuada sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam blandit nisl a nulla sagittis, a lobortis leo feugiat.
                  <br>
                  <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
                </p>
              </div>
      
              <article class="media">
                Vivamus quis semper metus, non tincidunt dolor. Vivamus in mi eu lorem cursus ullamcorper sit amet nec massa.
              </article>
      
              <article class="media">
                Morbi vitae diam et purus tincidunt porttitor vel vitae augue. Praesent malesuada metus sed pharetra euismod. Cras tellus odio, tincidunt iaculis diam non, porta aliquet tortor.
              </article>
            </div>
          </article>
      
          <article class="media">
            <figure class="media-left">
              <p class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Kayli Eunice </strong>
                  <br>
                  Sed convallis scelerisque mauris, non pulvinar nunc mattis vel. Maecenas varius felis sit amet magna vestibulum euismod malesuada cursus libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus lacinia non nisl id feugiat.
                  <br>
                  <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
                </p>
              </div>
            </div>
          </article>
        </div>
      </article>
    </div><!--column is-half right -->
    
  </div>

</div>

