/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/********** Index Section **********/
.tw-button {
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1rem;
    font-weight: bold;
    height: 2.25em;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(.375em - 1px);
    padding-left: calc(.625em - 1px);
    padding-right: calc(.625em - 1px);
    padding-top: calc(.375em - 1px);
    position: relative;
    vertical-align: top;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #349aff;
    border-color: #349aff;
    color: white;
    cursor: pointer;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: .75em;
    padding-right: .75em;
    text-align: center;
    white-space: nowrap;
}

.main-title {
  width: 550px;
  height: 345px;
  line-height: 9em;
  border: 1px solid #23d160;
  background-color: white;
}

.uptext {
  color: #23d160;
  font-size: 10em;
  font-weight: 800;
}

.downtext {
  color: #23d160;
  font-size: 8em;
  font-weight: 800;
}

.workplace {
  text-align: center;
}

.post-warpper .left {
    float: left;
}

.post-warpper .right  {
    float: right;
}


.form-warpper .left {
    float: left;
}

.form-warpper .right {
    float: right;
}

.main-title-left {
  text-align: left;
}

.main-title-right {
  text-align: right;
}

.form-warpper .right .main-right-guide {
  text-align: left;
  border: 0.3em solid #ffdd57;
  border-radius: 0.7em;
  padding: 1em;
  margin-top: 3.4em;
}


.form-warpper .right .tip {
  font-size: 2em;
  font-weight: bold;
  color: black;
}


.container .search-bar input {
    height: 5em;
}

.container .search-bar .search-size {
    padding: 2.4em;
}

.container .form-warpper .review-guidelines {
  border: 1px solid #23d160;
  border-radius: 1em;
  padding: 1em;
}



/***** Search Bar Section******/


*, *::before, *::after { box-sizing: border-box; }

/*body {*/
/*  background: HSLA(0, 0%, 96%, 1.00);*/
/*  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;*/
/*  margin-top: 100px;*/
/*}*/

#product-search {
  background: white;
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: rgba(0,0,0,.172549) 0 6px 12px 0;
  cursor: pointer;
}

.search-element {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  border-right: 1px solid rgba(10,10,10,.1);
  padding: 1em;
}

.search-label {
  font-weight: 700;
}

.search-input {
  border: none;
  appearance: none;
  outline: none;
  width: 100%;
  font-size: 1.2em;
  line-height: 1.2em;
  margin-top: 5px;
}

.search-input:focus {
  box-shadow: 0px 2px 0px 0px tomato;
}

.search-button {
  display: inline-block;
  flex-grow: 1;
  /*height: 80px;*/
  width: 100%;
  line-height: 60px;
  padding: 0 2em;
  text-align: center;
  font-size: 1.2em;
  font-weight: 100;
  border: 0;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  background-color: #23d160;
  transition: background-color 0.8s ease;
}

/*.search-button:hover {*/
/*  background-color: HSLA(345, 100%, 60%, 1.00);*/
/*}*/

/****************** End SearchBar Section **********/

/***************** City Job section *****/

.subtitle_02 {
  		overflow: hidden; 
	    text-overflow: ellipsis; 
	    display: -webkit-box;
	    -moz-line-clamp: 3; 
	    -webkit-line-clamp: 3; /* number of line */	
	    -ms-line-clamp: 3;
	    -moz-box-orient: vertical;
	    -webkit-box-orient: vertical;
	    -ms-box-orient: vertical;
	    word-wrap:break-word;
}

/***************** End City Job Section **************/

/************** Form Section **************/

.form-warpper .right .right-guide {
  text-align: left;
  border: 0.3em solid #ffdd57;
  border-radius: 0.7em;
  padding: 1em;
}


.h4-checkbox {
  border: 1px solid #23d160;
  border-radius: 0.5em;
  padding: 1em;
}

.signin {
  color: black;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 0.2em;
  background-color: white;
  padding: 0 0.5em;
}

.signin-text {
  color: #23d160;
}

.span-guideline {
  color: black;
  font-weight: bold;
  border: 1px solid #ffdd57;
  border-radius: 0.2em;
  background-color: #ffdd57;
  padding: 0 0.5em;
}

.form-warpper .right .icon-tip {
  margin-left: 0.8em;
  margin-bottom: 0.1em;
  font-size: 2em;
}

.important {
  color: red;
  font-size: 1.3em;
}

.right-guide-1 {
  margin-top: -1.2em;
  margin-bottom: 1em;
}


.review-tip-icon {
  position: relative;
  display: inline;
}

.review-tip-icon .review-tip-text {
    visibility: hidden;
    width: 23em;
    background-color: #23d160;
    margin-left: 12em;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 8px;

    /* Position the review-tip-icon */
    position: absolute;
    z-index: 1;
}

.review-tip-icon:hover .review-tip-text {
    visibility: visible;
}

.guide-ol {
  margin-left: 1em;
}



/****************** Board Section ****************/

.main-title-board {
  width: 550px;
  height: 275px;
  line-height: 5em;
  padding: 2em;
  border: 1px solid #23d160;
  background-color: white;
  margin-top: -7em;
}


.form-warpper .right .main-right-guide-board {
  text-align: left;
  margin-top: 3.4em;
  margin-top: -7em;
}

.uptext-city{
  color: #23d160;
  font-size: 8em;
  font-weight: 800;
}

.downtext-city {
  color: #23d160;
  font-size: 6em;
  font-weight: 800;
}

.before-review {
  border: 0.2em solid white;
  border-radius: 0.5em;
  padding: 0.5em;
  margin-top: -1em;
}

.board-left-text {
  margin-top: -0.9em;
}

.jobsory {
  color: #23d160;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 0.2em;
  background-color: white;
  padding: 0 0.5em;
}

.uptext-factory{
  color: #23d160;
  font-size: 6em;
  font-weight: 800;
}

.downtext-factory {
  color: #23d160;
  font-size: 6em;
  font-weight: 800;
}


.uptext-farm{
  color: #23d160;
  font-size: 7em;
  font-weight: 800;
}

.downtext-farm {
  color: #23d160;
  font-size: 6em;
  font-weight: 800;
}



/************** Post In Post Section *********/

.report-tip-icon {
  position: relative;
  display: inline;
}

.report-tip-icon .report-tip-text {
    visibility: hidden;
    width: 58em;
    background-color: #23d160;
    margin-left: 30.5em;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 8px;

    /* Position the report-tip-icon */
    position: absolute;
    z-index: 1;
}

.report-tip-icon .report-tip-text li {
  margin-left: 1em;
}

.report-tip-icon:hover .report-tip-text {
    visibility: visible;
}
















